@import "bootstrap-sprockets";
@import "bootstrap-social.css";
@import "bootstrap";
@import "font-awesome.css";
@import "font-awesome-sprockets";
@import "jquery-ui/datepicker";




/* universal */

body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.5;
}




